<tr>
    <td>
        <%= company.name %>
    </td>
    <td>
        <%= company.email %>
    </td>
    <td>
        <%= company.active %>
    </td>
    <td>
        <% if(user.role=="admin" || (user.role=="subAdmin" && user.roleId.privileges.privilege.allowView)) {%>
            <a href="javascript:void(0)">
                <i class="bx bxs-detail" data-toggle="tooltip" data-placement="top" title="View" id="viewCompany" data-viewPrivilege="/view-company/<%= company._id %>" data-bs-toggle="modal" data-bs-target="#viewPrivilegeModal"></i>
            </a>
            <%} %>
                <% if(user.role=="admin" || (user.role=="subAdmin" && user.roleId.privileges.privilege.allowEdit)) {%>
                    <a href="/edit-company/<%= company._id%>">
                        <i class="bx bx-edit" data-toggle="tooltip" data-placement="top" title="Edit"></i>
                    </a>
                    <%} %>
                        <!--<% if(user.role=="admin" || (user.role=="subAdmin" &&
                            user.roleId.privileges.privilege.allowDelete)) {%>
                            <a href="javascript:void(0)">
                                <i class="bx bx-trash" data-toggle="tooltip" data-placement="top" title="Delete"
                                    id="removeCompany"
                                    data-removePrivilege="/delete-company/<%= company._id %>"></i>
                            </a>
                            <%} %>-->
    </td>
</tr>