<%- contentFor('HeaderCss') %>

<%- contentFor('breadcrumb') %>
<!-- start page title -->
<div class="row">
    <div class="col-12">
        <div class="page-title-box d-sm-flex align-items-center justify-content-between">
            <h4 class="mb-sm-0 font-size-18">Add Account</h4>

            <div class="page-title-right">
                <ol class="breadcrumb m-0">
                    <li class="breadcrumb-item"><a href="javascript: void(0);">Manage</a></li>
                    <li class="breadcrumb-item active">Add Account</li>
                </ol>
            </div>

        </div>
    </div>
</div>
<!-- end page title -->

<%- contentFor('body') %>
<form method="post" action="/insert_account" name="addaccount" onsubmit=""> 
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">

                <div class="mb-3 row">
                    <label for="example-text-input" class="col-md-2 col-form-label">Account Name</label>
                    <div class="col-md-10">
                        <input class="form-control" type="text" name="ac_name"  placeholder="Enter Account Name" >
                    </div>
                </div>
                <div class="mb-3 row">
                    <label for="example-text-input" class="col-md-2 col-form-label">Account Owner Name</label>
                    <div class="col-md-10">
                        <input class="form-control" type="text" name="ac_owner_name" placeholder="Enter Account Owner Name"  id="example-text-input">
                    </div>
                </div>
                <div class="mb-3 row">
                    <label for="example-text-input" class="col-md-2 col-form-label">Building Name/Address1</label>
                    <div class="col-md-10">
                        <input class="form-control" type="textarea" name="ac_address1" placeholder="Enter Building Name/Address1" id="example-text-input">
                    </div>
                </div>
                <div class="mb-3 row">
                    <label for="example-text-input" class="col-md-2 col-form-label">Street Name/Address2</label>
                    <div class="col-md-10">
                        <input class="form-control" type="textarea" name="ac_address2" placeholder="Enter Building Name/Address2" id="example-text-input">
                    </div>
                </div>
                <div class="mb-3 row">
                    <label for="example-text-input" class="col-md-2 col-form-label">Country</label>
                    <div class="col-md-10">
 
                       <select class="form-select" value="" name="ac_country" >
                           <option value=""disabled selected>select country</option>
                            <option value="India"for="ac_Country">India</option>
                            <option value="australia"for="ac_Country">Australia</option>
                            <option value="canada"for="ac_Country">Canada</option>
                            <option value="usa" for="ac_Country">United States of America</option>
                        </select>
                    </div>
                </div>
                <div class="mb-3 row">
                    <label for="example-text-input" class="col-md-2 col-form-label">State</label>
                    <div class="col-md-10">
                        <select class="form-select" value=""  name="ac_State">
                            <option value=""disabled selected>Select State</option>
                            <option value="gujrat"for="ac_State">Gujrat</option>
                            <option value="goa"for="ac_State">Goa</option>
                            <option value="delhi"for="ac_State">Delhi</option>
                            <option value="punjab"for="ac_State">Punjab</option>
                            <option value="Rajasthan"for="ac_State">Rajasthan</option>
                        </select>
                    </div>
                </div>
                <div class="mb-3 row">
                    <label for="example-text-input" class="col-md-2 col-form-label">Suburb/City</label>
                    <div class="col-md-10">
                        <select class="form-select"value="" name="ac_city">
                            <option value=""disabled selected>Select Suburb/City</option>
                            <option value="mumbai" for="ac_city">Mumbai</option>
                            <option value="ahmedabad"for="ac_city">Ahmedabad</option>
                            <option value="Pune"for="ac_city">Pune</option>
                            <option value="Bhopal"for="ac_city">Bhopal</option>
                            <option value="Agra" for="ac_city">Agra</option>
                        </select>
                    </div>
                </div>
                <div class="mb-3 row">
                    <label for="example-text-input" class="col-md-2 col-form-label">Zipcode</label>
                    <div class="col-md-10"> 
                        <input class="form-control" type="text" name="zip" placeholder="Enter Zipcode" id="example-text-input">
                    </div>
                </div>
                <div class="mb-3 row">
                    <label for="example-email-input" class="col-md-2 col-form-label">Email</label>
                    <div class="col-md-10">
                        <input class="form-control" type="email" name="email" placeholder="Enter Email"
                            id="example-email-input">
                    </div>
                </div>
                <div class="mb-3 row">
                    <label for="example-password-input" class="col-md-2 col-form-label">Phone</label>
                    <div class="col-md-10">
                        <input class="form-control" type="number" name="phn_num" placeholder="Enter Phone..."
                            id="example-password-input">
                    </div>  
                 </div>
                <div class="mb-3 row">
                    <label for="example-number-input" class="col-md-2 col-form-label"> TimeZone</label>
                    <div class="col-md-10">
                        <input class="form-control" placeholder="Select TimeZone" type="time" name="time"
                            id="example-number-input">
                    </div>
                </div>
                <div class="mb-3 row">
                    <label for="example-number-input" class="col-md-2 col-form-label">Billing Department Contact Name</label>
                    <div class="col-md-10">
                        <input class="form-control" type="text" name="billing_dc_name"  placeholder="Enter Billing Department Contact Name"
                            id="example-number-input">
                    </div>
                </div>
                <div class="mb-3 row">
                    <label for="example-number-input" class="col-md-2 col-form-label">Billing Department Contact Number</label>
                    <div class="col-md-10">
                        <input class="form-control" type="number" name="billing_dc_number"  placeholder="Enter Billing Department Contact Number"
                            id="example-number-input">
                    </div>
                </div>
                <div class="mb-3 row">
                    <label for="example-number-input" class="col-md-2 col-form-label">Billing Department Contact Email</label>
                    <div class="col-md-10">
                        <input class="form-control" type="email" name="billing_dc_email"  placeholder="Enter Billing Department Contact email"
                            id="example-number-input">
                    </div>
                </div>
                <div class="mb-3 row">
                    <label for="example-text-input" class="col-md-2 col-form-label">Status</label>
                    <div class="col-md-10">
                        <select class="form-select" value="" name="status">
                            <option value=""disabled selected>Select Status</option>
                            <option value="active">Active</option>
                            <option value="disactive" > Disactive</option>
                        </select>
                    </div>
                </div>
                <div>
                    <button class="btn btn-primary" type="submit">Submit form</button>
                </div>
                
            </div>
        </div>
    </div> <!-- end col -->
</div>
<!-- end row -->
</form>

<%- contentFor('FooterJs') %>

<%- contentFor('BottomJs') %>
