<!-- ========== Left Sidebar Start ========== -->
<div class="vertical-menu">

    <div data-simplebar class="h-100">

        <!--- Sidemenu -->
        <div id="sidebar-menu">
            <!-- Left Menu Start -->
            <ul class="metismenu list-unstyled" id="side-menu">
                <li class="menu-title" key="t-menu">Menu</li>

                <li>
                    <a href="javascript: void(0);" class="waves-effect">
                        <i class="bx bx-home-circle"></i><span class="badge rounded-pill bg-info float-end">04</span>
                        <span key="t-dashboards"><%=translation.Dashboard%></span>
                    </a>
                    <ul class="sub-menu" aria-expanded="false">
                        <li><a href="/" key="t-default"><%=translation.Default%></a></li>
                        <li><a href="dashboard-saas" key="t-saas"><%=translation.Saas%></a></li>
                        <li><a href="dashboard-crypto" key="t-crypto"><%=translation.Crypto%></a></li>
                        <li><a href="dashboard-blog" key="t-blog"><%=translation.Blog%></a></li>
                    </ul>
                </li>
                  <!--Manage-->
                  <li>
                    <a href="javascript: void(0);" class="has-arrow waves-effect">
                       
                        <i class="fas fa-address-card"></i>
                        <span key="t-manage"><%=translation.Manage%>Manage</span>
                    </a>
                    <ul class="sub-menu" aria-expanded="false">
                        <li><a href="adduser" key="t-adduser"><%=translation.adduser%>adduser</a></li>
                        <li><a href="addaccount" key="t-addaccount"><%=translation.adduser%>addaccount</a></li>
                    </ul>
                </li>
               

                <!-- Parking Rates-->
                <li>
                    <a href="parkingrate" class="waves-effect">
                        <i class="fas fa-splotch"></i>
                        <span key="t-parkingrate"><%=translation.parkingrate%>ParkingRates</span>
                    </a>
                </li>

                <!--blocked Vehicles-->
                <li>
                    <a href="blockedvehicles" class="waves-effect">
                    <i class="fas fa-car"></i>
                    <span key="t-blockedvehicles"><%=translation.blockedvehicles%>Blocked vehicles</span>
                    </a>
                </li>

                <!--cameras-->
                <li>
                    <a href="camera" class="waves-effect">
                        <i class="fa fa-camera-retro"></i>
                        <span key="t-camera"><%=translation.camera%>Cameras</span>
                    </a>
                </li>
                <!--settings-->
                <li>
                    <a href="javascript: void(0);" class="has-arrow waves-effect">
                        <i class="fa fa-cog"></i>
                     
                        <span key="t-settings"><%=translation.settings%>settings</span>
                    </a>
                    <ul class="sub-menu" aria-expanded="false">
                        <li><a href="adduser" key="t-adduser"><%=translation.adduser%>adduser</a></li>
                        <li><a href="addaccount" key="t-addaccount"><%=translation.adduser%>addaccount</a></li>
                    </ul>
                </li>
            </ul>
                
         </div>
        <!-- Sidebar -->
    </div>
</div>
Left Sidebar End